In [27]:
from sqlalchemy import create_engine
from configure import password
import pandas as pd

engine = create_engine(f'postgresql://{password}:postgres@localhost:5432/EmployeeSQL')

In [22]:
departments = pd.read_sql('select * from departments', engine)

In [23]:
departments

  dept_no           dept_name
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service